/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 100% / 1.4 $text-font-stack;
}

/**
* Heading Sizes
*/

/**
* Other Text Styles
*/

/**
* Text Color
*/
.patent-text-white {
  color: $white-100;
}
