.sidebar {
	background: #202020;
	padding:24px 0;
}

.sidebar .path-page {
    list-style-type: none;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.sidebar .nav-tabs {
	padding-left: 35px;
}
.path-page li {
	padding: 10px;
}
.path-page li a{
	font-size: 22px;
	font-weight: 700;
}
.path-page li:not(:last-child):after {
	content: " / ";
	margin-left: 14px;
	font-size: 20px;
	font-weight: 700;
}
.path-page li:not(:last-child) a {
	color:#707070 !important;
	font-size: 20px !important;
}